@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a; /* Lo sfondo scuro del tema */
  color: #ffffff;
  font-family: 'Urbanist', sans-serif;
  overflow-x: hidden; /* Evita scroll orizzontali indesiderati */
}

/* Stile per la scrollbar personalizzata (opzionale ma tocco di classe) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}