@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Jost', sans-serif;
  overflow-x: hidden;
  background-color: #ffffff; /* Base bianca ora */
  color: #1a1a1a;
}

/* Scrollbar invisibile ma funzionale per pulizia estetica */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}